




@media screen and (max-width: 1366px) {
	.container {
		padding: 0 15px;
	}
}

@media screen and (max-width: 1300px) {
	.monitor-absolute {
		width: 778px;
	}

	.work-link-img2 img {
		height: 405px;
	}

	.news-link-title {
		top: 210px;
	}

	.news-link-data {
		top: 310px;
	}

	.news-link-komment {
		top: 310px;
	}


}

@media screen and (max-width: 1250px) {
	.monitor-absolute {
		top: 268px;
	}

	.main-menu ul li {
		padding: 0 10px;
	}
}


/* стили для md-устройств */
@media screen and (max-width: 1200px) {
	.work-right {
		width: 20%;
	}

	.work-left {
		width: 80%;
	}

	.popular-news-wrap {
		width: 80%;
	}

	.recent-news-left {
		width: 80%;
	}

	.seo-block {
		width: 80%;
	}

	.header-buttons {
		padding: 0;
	}

	.header-logo a img {
		width: 200px;
	}

	.monitor-img {
		height: 410px;
	}

	.popular-link-img {
		height: 351px;
	}

	.work-link-img {
		height: 199px;
	}

	.news-link-block {
		width: 66%;
	}

	.recent-news-link p {
		margin-top: 0;
	}

	.internal-right {
		width: 20%;
	}

	.internal-left {
		width: 80%;
	}
}

@media screen and (max-width: 1100px) {
	.monitor-title {
		font-size: 20px;
		line-height: 27px;
	}

	.monitor-electronics {
		font-size: 13px;
		line-height: 15px;
	}

	.monitor-data {
		font-size: 13px;
		line-height: 15px;
	}

	.monitor-komment {
		font-size: 13px;
		line-height: 15px;
	}

	.monitor-absolute {
		top: 255px;
		width: 670px;
	}

	.work-link-img2 {
		height: 403px;
	}

	.work-link-img2 img {
		height: 403px;
	}

	.work-link-suptitle2 {
		top: 280px;
		width: 216px;
	}

	.work-link-wrap2 {
		top: 363px;
	}

	.header-logo a img {
		width: 170px;
	}

	.header-li a {
		font-size: 14px;
		line-height: 16px;
	}

	.news-link-title {
		font-size: 16px;
		line-height: 20px;
		width: 324px;
	}

	.news-link-data {
		top: 280px;
	}

	.news-link-komment {
		top: 280px;
	}

	.footer-logo a img {
		width: 200px;
	}

	.monitor-img {
		height: auto;
	}

	.popular-link-img {
		height: auto;
	}

	.work-link-img {
		height: auto;
	}

	.work-link2 p {
		top: 183px;
	}

	.recent-link-img {
		height: auto;
	}

	.main-menu ul li a {
		font-size: 12px;
		line-height: 15px;
	}

	.main-menu ul li ul {
		width: 300px;
	}

	.main-menu ul li ul li > ul {
		left: -100%;
	}
  
}


@media screen and (max-width: 1030px) {
	.work-right {
		display: none;
	}

	.work-left {
		width: 100%;
	}

	.work-monitor {
		padding: 34px 0 0 0;
	}

	.monitor-img img {
		width: 100%;
	}

	.work-block {
		padding: 20px 10px 0 10px;
	}

	.monitor-absolute {
		top: 324px;
	}

	.work-link-img img {
		width: 100%;
	}

	.work-link-img2 img {
		width: 100%;
	}

	.popular-news-wrap {
		width: 100%;
	}

	.popular-news-block {
		padding: 20px 10px 0 10px;
	}

	.popular-link-img img {
		width: 100%;
	}

	.news-link-data {
		top: 350px;
	}

	.news-link-komment {
		top: 350px;
	}

	.news-link-title {
		top: 270px;
	}

	.work-link-img2 img {
		height: 423px;
	}

	.work-link-img2 {
		height: 423px;
	}

	.work-link-wrap2 {
		top: 385px;
	}

	.work-link-suptitle2 {
	    top: 327px;
	    width: 236px;
	}

	.work-link2 p {
		top: 225px;
	}

	.recent-news-left {
		width: 100%;
	}

	.seo-block {
		width: 100%;
	}

	.footer-wrap {
		flex-wrap: wrap;
	}

	.footer-block {
		width: 23%;
	}

	.footer-block2 {
		width: 33.33333%;
	}

	.footer-block3 {
		margin-top: -195px;
		width: 33.33333%;
	}

	.header-wrap {
		flex-wrap: wrap;
	}

	.header-links {
		width: 100%;
		justify-content: space-between;
		padding: 10px 0 0 0;
	}

	.work {
		padding: 30px 0 60px 0;
	}

	.recent-news {
		padding: 60px 0 0 0;
	}

	.seo {
		padding: 60px 0;
	}

	.header {
		padding: 12px 0;
	}

	.recent-news-block {
		padding: 10px 0 0 0;
	}

	.internal-right {
		display: none;
	}

	.internal-left {
		padding: 0;
		width: 100%;
	}
  
}




/* стили для sm-устройств */
@media screen and (max-width: 992px) {
	.work-link-img2 img {
		height: 416px;
	}

	.work-link-img2 {
		height: 416px;
	}

	.work-link2 p {
		top: 215px;
	}

	.work-link-suptitle2 {
		top: 318px;
	}

	.work-link-wrap2 {
		top: 376px;
	}

	.news-link-title {
		top: 250px;
	}

	.news-link-data {
		top: 325px;
	}

	.news-link-komment {
		top: 325px;
	}
  
}

@media screen and (max-width: 950px) {
	.monitor-absolute {
		top: 280px;
	}

	.work-link-img2 img {
		height: 404px;
	}

	.work-link-img2 {
		height: 404px;
	}

	.work-link2 p {
		top: 207px;
	}

	.work-link-suptitle2 {
		top: 305px;
	}

	.work-link-wrap2 {
		top: 365px;
	}

	.news-link-title {
		top: 230px;
	}

	.news-link-data {
		top: 305px;
	}

	.news-link-komment {
		top: 305px;
	}

	.recent-news-border {
		padding: 15px;
	}

	.footer-block {
		width: 22%;
	}

	.footer-block2 {
		width: 38%;
	}
}

@media screen and (max-width: 900px) {
	.work-link-img2 img {
	    height: 394px;
	}

	.work-link-img2 {
	    height: 394px;
	}

	.work-link2 p {
	    top: 195px;
	}

	.work-link-suptitle2 {
	    top: 295px;
	}

	.work-link-wrap2 {
	    top: 355px;
	}
}


@media screen and (max-width: 850px) {
	.monitor-absolute {
		top: 255px;
	}

	.work-link-img2 img {
	    height: 404px;
	}

	.work-link-img2 {
	    height: 404px;
	}

	.work-link2 p {
	    top: 185px;
	}

	.work-link-suptitle2 {
		top: 284px;
		width: 218px;
	}

	.work-link-wrap2 {
	    top: 365px;
	}

	.news-link-title {
	    top: 190px;
	}

	.news-link-data {
	    top: 270px;
	}

	.news-link-komment {
	    top: 270px;
	}

	.footer-block {
		width: 100%;
		text-align: center;
	}

	.footer-suptitle {
		padding: 15px 0 0 0;
		width: 100%;
	}

	.footer-links {
		justify-content: center;
	}

	.footer-block3 {
		margin-top: 0;
		padding: 15px 0 0 0;
	}

	.footer-block2 {
		width: 33.33333%;
	}

	.footer-block2 {
		padding: 30px 0 0 0;
		width: 50%;
	}


}


@media screen and (max-width: 800px) {
			 /*Burger*/

  .burger {
    display: block !important;
  }

  .mt-munu-mb .header-navigation-wr {
    display: block !important;
  }

  .header-nav {
  	display: none;
  }

  .header-links {
  	display: none;
  }

  .header-logo a img {
  	width: 100%;
  }

  .monitor-absolute {
	    top: 237px;
	}

	.work-block {
		width: 50%;
		padding: 10px 5px 0 5px;
	}

	.work-link-img2 img {
		height: 467px;
	}

	.work-link-img2 {
		height: 467px;
	}

	.work-link-wrap2 {
	    top: 427px;
	}

	.work-link-suptitle2 {
	    top: 368px;
	    width: 237px;
	}

	.work-link2 p {
	    top: 264px;
	}

	.news-link-title {
	    top: 180px;
	}

	.news-link-data {
	    top: 260px;
	}

	.news-link-komment {
	    top: 260px;
	}

	.popular-news-block {
		padding: 10px 5px 0 5px;
	}

	.rating-header2 {
		padding: 0 0 0 195px;
	}

	.rating-link {
		padding: 0 0 0 50px;
	}

}


/* Ipad*/ 
@media screen and (max-width: 768px) {
	.work-link-img2 img {
		height: 457px;
	}

	.work-link-img2 {
		height: 457px;
	}

	.work-link-wrap2 {
	    top: 417px;
	}

	.work-link-suptitle2 {
	    top: 358px;
	    width: 237px;
	}

	.work-link2 p {
	    top: 254px;
	}

	.monitor-absolute {
	    top: 217px;
	}

	.recent-news-link {
		font-size: 16px;
		line-height: 22px;
	}

	.recent-news-link p {
		margin: 0;
	}

	.recent-news-link-suptitle {
		font-size: 12px;
		line-height: 16px;
	}

	.seo-suptitle {
		font-size: 14px;
		line-height: 20px;
	}

	.footer-title {
		font-size: 16px;
		line-height: 18px;
	}

	.footer-li a {
		font-size: 13px;
		line-height: 15px;
	}

	.internal-title {
		font-size: 30px;
		line-height: 37px;
	}

	.italic-img {
	    margin-top: -33px;
	}
}


@media screen and (max-width: 700px) {
	.monitor-title {
	    font-size: 17px;
	    line-height: 23px;
	}

	.monitor-absolute {
		width: 485px;
	    top: 200px;
	}

	.work-link-img2 img {
		height: 433px;
	}

	.work-link-img2 {
		height: 433px;
	}

	.work-link-wrap2 {
	    top: 393px;
	}

	.work-link-suptitle2 {
	    top: 334px;
	    width: 237px;
	}

	.work-link2 p {
	    top: 230px;
	}

	.news-link-title br {
		display: none;
	}

	.news-link-title {
		width: 284px;
		top: 155px;
	}

	.news-link-data {
		top: 225px;
		left: 15px;
	}

	.news-link-komment {
		left: 122px;
		top: 225px;
	}

	.footer-block4 {
		width: 40%;
	}

	.internal-link-wrap {
		overflow: auto;
    	white-space: nowrap;
	}

	.tab-wrap {
		flex-wrap: wrap;
	}

	.tab-block {
		width: 100%;
		padding: 0;
	}

	.tab-block2 {
		width: 100%;
		padding: 20px 0 0 0;
	}

	.tab-content {
		padding: 20px 0 0 0;
	}

	.rating-link {
		padding: 0 0 0 15px;
	}

	.rating-header2 {
		padding: 0 0 0 160px;
	}
}


/* Ipad mini*/ 
@media screen and (max-width: 640px) {
	.monitor-absolute {
		top: 170px;
		left: 10px;
	}

	.work-link-img2 img {
		height: 411px;
	}

	.work-link-img2 {
		height: 411px;
	}

	.work-link-wrap2 {
	    top: 371px;
	}

	.work-link-suptitle2 {
	    top: 312px;
	    width: 237px;
	}

	.work-link2 p {
	    top: 208px;
	}

	.news-link-title {
	    width: 240px;
	    top: 130px;
	    left: 10px;
	}

	.news-link-category {
		top: 10px;
		left: 10px;
	}

	.news-link-category2 {
		top: 10px;
		left: 10px;
	}

	.news-link-data {
		top: 200px;
		left: 10px;
	}

	.news-link-komment {
		left: 117px;
		top: 200px;
	}

	.recent-news-link-suptitle {
		display: none;
	}

	.work-monitor {
		padding: 20px 0 0 0;
	}

	.rating-suptitle {
		width: 240px;
	}

	.rating-header2 {
		padding: 0 0 0 130px;
	}

	.user-text {
		width: 80%;
	}

	.user-img {
		width: 20%;
	}

	.comment-input-img {
		width: 20%;
	}

	.comments-inputs {
		width: 80%;
	}

	.author-wrap {
		flex-wrap: wrap;
	}

	.author-block {
		width: 100%;
		flex-wrap: wrap;
	}

	.author-img {
		width: 100%;
		text-align: center;
	}

	.author-text {
		width: 100%;
		text-align: center;
		padding: 10px 0 0 0;
	}

	.author-link-title {
		width: 100%;
		text-align: center;
		padding: 20px 0 0 0;
	}

	.author-link {
		width: 100%;
		text-align: center;
		padding: 10px 0 0 0;
	}

	.author-ul {
		justify-content: center;
	}
}

@media screen and (max-width: 600px) {
 	.monitor-absolute {
 		top: 135px;
 	} 

 	.work-link-img2 img {
		height: 394px;
	}

	.work-link-img2 {
		height: 394px;
	}

	.work-link-wrap2 {
		left: 15px;
	    top: 350px;
	}

	.work-link-suptitle2 {
		left: 15px;
	    top: 294px;
	    width: 237px;
	}

	.work-link2 p {
		left: 15px;
	    top: 190px;
	}

	.work-link p {
		padding: 0 20px 0 15px;
	}

	.work-link p br {
		display: none;
	}

	.work-link-suptitle {
		padding: 0 15px 0 15px;
	}

	.work-link-wrap {
		padding: 12px 0 0 15px;
	}

	.internal-link {
		font-size: 13px;
		line-height: 18px;
	}

	.internal-link-defiz {
		font-size: 13px;
		line-height: 18px;
	}

	.internal {
		padding: 30px 0 0 0;
	}

	.internal-title {
		padding: 15px 0 0 0;
		font-size: 26px;
		line-height: 30px;
	}

	.internal-img {
		padding: 20px 0 0 0;
	}

	.internal-absolute {
		top: 35px;
		left: 15px;
	}

	.sidebar-menu2 {
		font-size: 13px;
		line-height: 15px;
	}

	.content-link {
		font-size: 13px;
		line-height: 20px;
	}

	.content-number {
		font-size: 13px;
		line-height: 20px;
	}

	.internal-suptitle {
		padding: 20px 0 0 0;
		font-size: 13px;
		line-height: 20px;
	}

	.internal-accordion {
		padding: 20px 0 0 0;
	}

	.internal-title2 {
		padding: 30px 0 0 0;
		font-size: 22px;
		line-height: 26px;
	}

	ul.tabs li {
		font-size: 13px;
		line-height: 18px;
	}

	ul.tabs {
		width: 266px;
	}

	.tab-title {
		font-size: 16px;
		line-height: 20px;
	}

	.tab-suptitle {
		font-size: 13px;
		line-height: 20px;
	}

	.internal-title3 {
		padding: 30px 0 0 0;
		font-size: 20px;
		line-height: 23px;
	}

	.internal-title4 { 
		padding: 30px 0 0 0;	
		font-size: 16px;
		line-height: 20px;
	}

	.italic-title {
		padding: 15px 0 0 0;
		font-size: 13px;
		line-height: 20px;
	}

	.italic-border {
		padding: 0 15px 15px 0;
	}

	.italic-img {
	    margin-top: -30px;
	}

	.internal-italic {
		padding: 30px 0 0 0;
	}

	.internal-list {
		padding: 0 0 0 0;
	}

	.list-wrap {
		flex-wrap: wrap;
	}

	.list-block {
		padding: 30px 0 0 0;
		width: 100%;
	}

	.list-title {
		font-size: 16px;
		line-height: 20px;
	}

	.list-suptitle {
		font-size: 13px;
		line-height: 20px;
	}

	.list-number {
		font-size: 13px;
		line-height: 20px;
	}

	.internal-rating {
		padding: 30px 0 0 0;
	}

	.rating-title {
		font-size: 22px;
		line-height: 26px;
	}

	.rating-block {
		padding: 20px 0 0 0;
	}

	.rating-suptitle {
		font-size: 13px;
		line-height: 20px;
	}

	.rating-link {
		font-size: 13px;
		line-height: 20px;
	}

	.user-response {
		margin-left: -70px;
	}

	

	
}

@media screen and (max-width: 550px) {
  	.monitor-absolute {
	    top: 120px;
	}

	.work-link {
		font-size: 15px;
		line-height: 20px;
	}

	.work-link-suptitle {
		font-size: 13px;
		line-height: 18px;
	}

	.work-link2 {
		font-size: 15px;
		line-height: 20px;
	}

	.work-link-img2 img {
		height: 365px;
	}

	.work-link-img2 {
		height: 365px;
	}

	.work-link-wrap2 {
		left: 15px;
	    top: 324px;
	}

	.work-link-suptitle2 {
		left: 15px;
	    top: 278px;
	    width: 205px;
	    font-size: 13px;
		line-height: 18px;
	}

	.work-link2 p {
		left: 15px;
	    top: 180px;
	}

	.popular-news-block {
		width: 100%;
		padding: 20px 0 0 0;
	}

	.news-link-data {
		top: 370px;
		left: 10px;
	}

	.news-link-komment {
		left: 117px;
		top: 370px;
	}

	.news-link-title {
	    width: 240px;
	    top: 300px;
	    left: 10px;
	}

	.recent-news-link p {
		height: auto;
	}

	.footer-accordion {
		display: block;
	}

	.footer-block3 {
		display: none;
	}

	.footer-block2 {
		display: none;
	}

	.rating-link {
		width:200px;
	}

	.rating-suptitle {
		width: 200px;
	}

	.rating-header2 {
		padding: 0 0 0 90px;
	}

	.comments-input-wrap {
		padding: 0 0 10px 0;
		flex-wrap: wrap;
	}

	.article-author {
		padding: 30px 0 0 0;
	}

	.internal-grade {
		padding: 30px 0 0 0;
	}

	.comments-title {
		font-size: 20px;
		line-height: 23px;
	}

	.comments-input-block {
		width: 100%;
		padding: 0;
	}

	.comments-input-block2 {
		width: 100%;
		padding: 10px 0 0 0;
	}

	.user-name-wrap {
		flex-wrap: wrap;
	}

	.user-name {
		width: 100%;
		font-size: 13px;
		line-height: 20px;
	}

	.user-data {
		padding: 5px 0 0 0;
		width: 100%;
		font-size: 13px;
		line-height: 20px;
	}

	.user-comment {
		font-size: 13px;
		line-height: 20px;
	}

	.user-link a {
		font-size: 13px;
		line-height: 20px;
	}

}


@media screen and (max-width: 500px) {
  .monitor-absolute {
  	width: 411px;
  	top: 106px;
  }

  .work-block {
  	width: 100%;
  	padding: 20px 0 0 0;
  }

  .work-link p {
  	height: auto;
  }

  .work-link-img2 img {
  	height: auto;
  }

  .work-link-img2 {
  	height: auto;
  }

  .work-link-wrap2 {
  	top: 586px;
  }

  .work-link-suptitle2 {
  	top: 525px;
  }

  .work-link2 p {
  	top: 430px;
  }

  .news-link-title {
  	top: 230px;
  }

  .news-link-data {
  	top: 320px;
  }

  .news-link-komment {
  	top: 320px;
  }

  .news-link-block {
  	padding: 0 0 0 15px;
  }
}

.mt-mobile {
	width: 288px;
}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {
  	.monitor-electronics {
  		padding: 3px 8px;
  		font-size: 12px;
		line-height: 14px;
  	}

  	.monitor-data {
  		padding: 0 0 0 10px;
  		font-size: 12px;
		line-height: 14px;
  	}

  	.monitor-komment {
  		padding: 0 0 0 10px;
  		font-size: 12px;
		line-height: 14px;
  	}

  	.monitor-absolute {
  		width: 270px;
  	}

  	.monitor-data img {
  		padding: 0 5px 0 0;
  		width: 18px;
  		height: 18px;
  	}

  	.monitor-komment img {
  		padding: 0 5px 0 0;
  		width: 18px;
  		height: 18px;
  	}

  	.monitor-title {
  		padding: 10px 0 0 0;
  		font-size: 15px;
		line-height: 20px;
  	}

  	.italic-img {
	    margin-top: -25px;
	}
}

@media screen and (max-width: 450px) {
  	.monitor-absolute {
  		top: 94px;
  	}

  	.work-link-wrap2 {
  	top: 546px;
  }

  .work-link-suptitle2 {
  	top: 485px;
  }

  .work-link2 p {
  	top: 390px;
  }

  .news-link-title {
	    top: 220px;
	}

	.news-link-data {
	    top: 300px;
	}

	.news-link-komment {
	    top: 300px;
	}

	.work-title {
		font-size: 26px;
		line-height: 30px;
	}

	.popular-news-title {
		font-size: 22px;
		line-height: 26px;
	}

	.recent-news-title {
		font-size: 22px;
		line-height: 26px;
	}

	.seo-title {
		font-size: 20px;
		line-height: 23px;
	}

	.seo-suptitle {
		padding: 20px 0 0 0;
		font-size: 13px;
		line-height: 20px;
	}
}

/* Galaxy*/ 
@media screen and (max-width: 415px) {
  	.monitor-img {
  		height: 210px;
  	}

  	.monitor-img img {
  		height: 210px;
  	}

  	.monitor-absolute {
	    top: 108px;
	}

  .work-link-wrap2 {
  	top: 506px;
  }

  .work-link-suptitle2 {
  	top: 445px;
  }

  .work-link2 p {
  	top: 350px;
  }

  .news-link-title {
	    top: 200px;
	}

	.news-link-data {
	    top: 280px;
	}

	.news-link-komment {
	    top: 280px;
	}

	.recent-news-link {
		flex-wrap: wrap;
	}

	.news-link-block {
		padding: 15px 0 0 0;
		width: 100%;
	}

	.recent-link-img img {
		width: 100%;
	}

	.recent-link-img {
		width: 100%;
	}

	.rating-wrap {
		padding: 10px 0 10px 10px;
	}

	.rating-wrap2 {
		padding: 10px 0 10px 10px;
	}

	.rating-wrap3 {
		padding: 10px 0 10px 10px;
	}

	.rating-suptitle {
		width: 130px;
	}

	.rating-link {
		width: 130px;
	}

	.rating-header2 {
		padding: 0 0 0 15px;
	}

	.comment-input-img {
		width: 25%;
	}

	.comments-inputs {
		width: 75%;
	}

	.user-img {
		width: 25%;
	}

	.user-text {
		width: 75%;
	}

	.italic-img {
	    margin-top: -20px;
	}
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 375px) {
	.work-link-img2 img {
		height: 376px;
	}

	.work-link-wrap2 {
		top: 347px;
	}

	.work-link-suptitle2 {
		top: 296px;
	}

	.work-link2 p {
	    top: 205px;
	}

	.popular-link-img img {
		height: 235px;
	}

	.news-link-title {
	    top: 124px;
	    font-size: 15px;
		line-height: 20px;
	}

	.news-link-data {
	    top: 200px;
	}

	.news-link-komment {
	    top: 200px;
	}

	.header-logo a img {
		width: 205px;
	}

	.burger {
		top: -5px;
	}

	.italic-img {
	    margin-top: -19px;
	}

	.comment-input-img {
		padding: 0 20px 0 0;
	}

	.user-img {
		padding: 0 20px 0 0;
	}

	.user-response {
	    margin-left: -50px;
	}
}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {
	.italic-img {
	    margin-top: -15px;
	}
}